@import url("https://use.typekit.net/hki6lni.css");

body, button, input, optgroup, select, textarea {
    font-family: soleil, sans-serif;
    letter-spacing: -0.2px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3 {
    font-family: soleil, sans-serif;
}